__pycache__/
*.pyc

.ipynb_checkpoints/

*.csv
*.txt
!requirements.txt

*.pkl
bert_results/
distilbert_results/
sarcasm_results/
distilbert_emotion_model/
distilbert_sarcasm_model/
final_distilbert_model/

venv/
.env
